h1{
    text-align: center;
    font-size: 70px; 
    color: rgb(233, 233, 238);  
    padding-top: 20%;
}
.intro{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0)),url(images/blogimg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60vw;
    height: 100vh;
    border-radius:20px ;
}
.intro p, h3{
     color: white;
    text-align: center;
    font-size: 20px;
}
body{
    margin-left: 20%;
    background: linear-gradient(rgba(68, 66, 66, 0.5),rgb(48, 20, 20));
    color: aliceblue;
    font-family: cursive;
}
#quote{
    background-color: rgb(29, 51, 51);
    border: solid 1px;
    padding-left: 3%;
    font-size: 20px;
    width: 40%;
    border-radius: 20px;
    margin-top: 2%;
    margin-left: 17%;
    box-shadow: 10px 10px 20px 5px rgb(55, 97, 97);
}
.roles{
    background-color: rgb(26, 2, 2);
    padding-left: 2%;
    width: 72%;
    border-radius: 20px;
    font-size: 17px;
}
.insights{
    background-color: rgb(26, 2, 2);
    padding-left: 2%;
    width: 72%;
    border-radius: 20px;
    font-size: 17px;
}
footer{
    background-color: rgb(26, 2, 2);
    padding-left: 2%;
    width: 72%;
    border-radius: 20px;
    font-size: 17px;

}

@media (max-width: 800px){
    h1{
        text-align: center;
        font-size: 40px; 
        color: rgb(233, 233, 238);  
        padding-top: 20%;
    }
    .intro{
        width: 80vw;
        height: 70vh;
        border-radius:20px ;
    }
    .intro p, h3{
        font-size: 15px;
    }
    body{
        margin-left: 10%;
    }
    #quote{
        padding-left: 3%;
        font-size: 13px;
        width: 60%;
        border-radius: 20px;
        margin-top: 2%;
        margin-left: 9%;
    }
    .roles{
        padding-left: 2%;
        width: 84%;
        border-radius: 20px;
        font-size: 17px;
    }
    .insights{
        padding-left: 2%;
        width: 84%;
        border-radius: 20px;
        font-size: 17px;
    }
    footer{
        padding-left: 2%;
        width: 72%;
        border-radius: 20px;
        font-size: 17px;
    }

}
